* {
    box-sizing: border-box;
}

.game-view {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
    --slotWidth: 50px;
    --slotHeight: 50px;
    --gridHeight: 6;
    --gridWidth: 7;
    --width : calc(var(--slotWidth) * var(--gridWidth));
}

.grid {
    display: flex;
    width: calc(var(--slotWidth) * var(--gridWidth));
    border: 1px solid gray;
}

.grid.game-over {
    pointer-events: none;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--slotWidth);
    height: calc(var(--slotHeight) * var(--gridHeight));
    border-right: 1px solid gray;
    cursor: pointer;
}

.column.filled {
    pointer-events: none;
}

.column:last-child {
    border-right: none;
}

.column:hover {
    background: #f7f3ef;
}

.slot {
    width: var(--slotWidth);
    height: var(--slotHeight);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.game-info {
    margin-top: 15px;
    width: var(--width);
}

.player-stats {
    display: flex;
    justify-content: space-between;
}
