* {
    box-sizing: border-box;
}

:root {
    --slotWidth: 50px;
    --slotHeight: 50px;
    --gridHeight: 6;
    --gridWidth: 7;
    --width : calc(var(--slotWidth) * var(--gridWidth));
    --start-screen-width: 40%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.players-defaults {
    width: var(--start-screen-width);
    margin: 100px auto 0;
    text-align: center;
}

.players-defaults > .defaults {
    display: flex;
    justify-content: space-between;
}

.player-color {
    display: inline-block;
    width: 40px;
    height: 15px;
}

.default-view-controls > button + button {
    margin-left: 20px;
}

form.form-view {
    width: var(--start-screen-width);
    margin: 100px auto 0;
}

.form-view > fieldset {
    margin-bottom: 25px;
}

.form-view input {
    margin-right: 20px;
}

.form-view .error-message {
    color: red;
}

.game-view {
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.help-text {
    font-size: 12px;
}

.grid {
    display: flex;
    width: calc(var(--slotWidth) * var(--gridWidth));
    border: 1px solid gray;
}

.grid.game-over {
    pointer-events: none;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--slotWidth);
    height: calc(var(--slotHeight) * var(--gridHeight));
    border-right: 1px solid gray;
    cursor: pointer;
}

.column.filled {
    pointer-events: none;
}

.column:last-child {
    border-right: none;
}

.column:hover {
    background: #f7f3ef;
}

.slot {
    width: var(--slotWidth);
    height: var(--slotHeight);
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.game-info {
    margin-top: 15px;
    width: var(--width);
}

.player-stats {
    display: flex;
    justify-content: space-between;
}

.reset-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}

.reset-controls > button + button {
    margin-top: 10px;
}
